!!! 5
html(lang='ru')
  head
    title Панель управления

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='robots', content='noindex')

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    link(rel='stylesheet', media='all', href='/stylesheets/web/bootstrap.css', media='all')
    link(rel='stylesheet', media='all', href='/stylesheets/web/rickshaw.css', media='all')

    - if (env === 'production')
      link(rel='stylesheet', href='/stylesheets/web/admin.css', media='all')
    - else
      link(rel='stylesheet', href='/web/admin.css', media='all')

    script(src='/javascripts/web/loader.js')
    script
      yepnope([
        { load: '/javascripts/web/jquery-standalone.js' },
        { load: [
            '/javascripts/web/bootstrap.js',
            'http://!{hostname}:!{logserver}/socket.io/socket.io.js',
            '/javascripts/web/jquery.system.plugins.js',
            '/javascripts/web/rickshaw.js',
          ]
        },
        {
          load: '/javascripts/web/jquery.admin.js',
          complete: function () {
            if (!$.fn.admin) return alert('Ошибка загрузки jquery.admin');
            $.fn.admin('!{env}', '!{csrf}', '!{logserver}', '!{secretKey}');
          }
        },
        { load: 'ie9!http://html5shim.googlecode.com/svn/trunk/html5.js' },
      ]);
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a(href='/admin').brand Панель управления
          div.nav-collapse
            ul.nav
              li
                a(href='/admin/hearbeat') Графики
              li
                a(href='/admin/users') Пользователи
              li
                a(href='/admin/channels') Комнаты
              li
                a(href='/admin/settings') Настройки
    div.container#wrapper
      !{body}
    div.navbar.navbar-fixed-bottom#console
      div.navbar-inner
        div.console-header
          button#console-button.up
          span Консоль
        div.console
