extends layout

block content
  h3 Список пользователей (!{usersCount})
  if users.length === 0
    .alert.alert-info
      Пользователей не найдено
  else
    table.table.table-striped.table-bordered#user-list
      thead
        tr
          th Имя
          th Последний вход
          th Дата регистрации
          th Cообщения
          th Права
          th Действия
      tbody
        each user in users
          - var isDisabled = (user.role === 'R' || user.role === 'S' ? 'disabled' : '')
          tr(id='uid-' + user.id)
            td !{user.name}
            td !{moment(user.stats.lastaccess).format('DD.MM.YYYY HH:MM (Z)')}
            td !{moment(user.date).format('DD.MM.YYYY HH:MM (Z)')}
            td !{messages[user.id]}
            td !{user.role}
            td.actions
              .btn-group
                button(class=isDisabled).btn.btn-danger.btn-mini.delete Удалить
                button(class=isDisabled, data-toogle='dropdown').btn.btn-danger.btn-mini.dropdown-toggle
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Удалить с сообщениями
    .row-fluid
      .span4
        form(method='GET', action='/admin/users/').form-search#user-search
          input(type='text', name='name', maxlength='15').input-medium.search-query
          button(type='submit').btn
            i.icon-search
            |  Поиск по имени
      .span8
        if pagination.pages > 1
          .pagination.pagination-right
            ul
              if pagination.isFirstPage
                li.disabled
                  a(href='/admin/users/' + query).disabled ←
              else
                li
                  a(href='/admin/users/' + query + '/' + (pagination.currentPage - 1)) ←

              - for (var i = (pagination.currentPage - 5); i <= (pagination.currentPage - 1); i++) {
                - if (i < 0) continue;
                li
                  a(href='/admin/users/' + query + '/' + i) !{i + 1}
              - }

                li.active
                  a(href='/admin/users/' + query + '/' + pagination.currentPage) !{pagination.currentPage + 1}

              - for (var i = (pagination.currentPage + 1); i <= (pagination.currentPage + 5); i++) {
                - if (i >= pagination.pages) break;
                li
                  a(href='/admin/users/' + query + '/' + i) !{i + 1}
              - }

              if pagination.isLastPage
                li.disabled
                  a(href='/admin/users/' + query + '/' + (pagination.pages - 1)).disabled →
              else
                li
                  a(href='/admin/users/' + query + '/' + (pagination.currentPage + 1)) →